#game-page {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

#game-field {
  border: 1px solid var(--input-border-color);
  width: 550px;
  height: 550px;
  font-size: 50px;
}

#user-menu {
  width: 350px;
  height: 550px;
  margin-right: 25px;
  padding: 10px 15px 0;
}

.user-menu-header {
  width: 100%;
  height: 22%;
}

.game-btn {
  width: 180px;
  height: 50px;
  background: var(--main-button-background-color);
  font-size: large;
  font-weight: 300;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  border: 1px solid var(--main-button-border-color);
}

#users-list {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 75px;
  width: 100%;
}

.ready-checkbox {
  display: inline-block;
  background: rgb(177, 0, 0);
  border: 1px solid black;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}

.progress-bar {
  margin: 5px 0;
  width: 100%;
  border: 1px solid var(--input-border-color);
  height: 25px;
}

.empty {
  background: var(--white);
  z-index: 1;
  position: relative;
}

.current-progress {
  background: rgb(7, 88, 0);
  z-index: 1;
  position: relative;
  bottom: 30px;
  width: 1%;
}

.already-done {
  background: rgb(0, 223, 56);
  position: relative;
  bottom: 60px;
  opacity: 0;
  z-index: 3;
}

.user span {
  font-size: 12px;
}

.ready {
  background: rgb(0, 116, 29);
}

#text-field > span {
  font-size: 35px;
}

#typed {
  background: rgb(0, 151, 25);
}

#current-type {
  text-decoration: underline;
}

#gameTimer {
  font-size: 13px;
  position: absolute;
  top: 55px;
  left: 830px;
  font-style: italic;
}

#time {
  margin-right: 3px;
}

.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.6);
  z-index: 5;
}

.modal-root {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, .2);
  background-color: white;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  font-weight: 700;
  font-size: 22px;
}

.modal-body {
  padding: 1rem;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
}

.close-btn {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
}